<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30001">
    <setting id="S_IP" type="text" label="30200" default="fritz.box" />
    <setting type="sep" />
    <setting id="S_DURATION" type="number" label="30210"  default="8" />
    <setting id="S_STARTUPSLEEP" type="number" label="30211"  default="60" />
  </category>
  <category label="30002">
    <setting id="AB_Fritzadress" type="bool" label="30300" default="false" />
    <setting id="AB_FritzboxPassword" type="text" option="hidden" label="30301" visible="eq(-1,true)" enable="eq(-1,true)" default="" />
    <setting id="AB_Fritzadress_all_books" type="bool" label="30302" default="true" visible="eq(-1,true)" enable="eq(-1,true)" />
    <setting id="AB_Fritzadress_id" type="number" label="30303"  default="0" enable="eq(-1,false)" visible="eq(-1,false)" />
    <setting id="AB_GoogleLookup" type="bool" label="30304" default="false" />
    <setting id="AB_GoogleUsername" type="text" label="30305" visible="eq(-1,true)" enable="eq(-1,true)" default="" />
    <setting id="AB_GooglePassword" type="text" label="30306" option="hidden" visible="eq(-2,true)" enable="eq(-2,true)" default="" />
    <setting id="AB_Klicktel" type="bool" label="30310" default="false" />
  </category>
  <category label="30003">
  	<setting id="AC_Pause" type="bool" label="30400" default="true" />
    <setting id="AC_Resume" type="bool" label="30401" default="true" enable="eq(-1,true)" />
    <setting id="AC_PauseVideoOnly" type="bool" label="30402" default="true" enable="eq(-2,true)" />
    <setting id="AC_LowerVolume" type="bool" label="30403" default="false" />
    <setting id="AC_LowerVolumeAmount" type="slider" label="30404" default="30" range="0,100" enable="eq(-1,true)" visible="eq(-1,true)"/>
  </category>
</settings>
